!nix/packages/*.diff
!nix/packages/*.patch
.cabal-sandbox/
.ghc.environment.*
.ghci
.ghcid
.hpc
.hsenv
.HTF/
.idea/
.nvimrc
.stack-work
.stack-work/
.vscode/
*.aux
*.chi
*.chs.h
*.diff
*.dyn_hi
*.dyn_o
*.eventlog
*.hi
*.hp
*.iml
*.o
*.patch
*.prof
*~
/client/
cabal-dev
cabal.project.local
cabal.project.local~
cabal.sandbox.config
dist
dist-*
dist-newstyle
init/id_rsa
out
result
result-*
tags
stack.yaml.lock
